<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         color="true"
         convertErrorsToException="false"
         convertWarningsToExceptions="false"
         stopOnFailures="false"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="WilokeThucTap">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
